# Supabase 설정
SUPABASE_URL=supabase_project_url_here
SUPABASE_ANON_KEY=supabase_anon_key_here

# 데이터베이스 설정 (according your type of connection)
user=postgres.[blahblah...]
password=[YOUR-PASSWORD] 
host=aws-0-[YOUR-LOCATION].pooler.supabase.com
port=0000
dbname=postgres

# 앱 설정
APP_NAME=OMNi
DEBUG=true 